.ui-slider-horizontal {
    height: .4em !important
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -.5em !important;
    top: -.35em !important
}
.ui-slider .ui-slider-handle {
    border-radius: 50% !important;
    height: 1.1em !important;
    width: 1.1em !important;
    outline: 0 none
}
.ui-widget-content {
    border: 0 none !important;
    background: #ccc !important
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #ed8c2b !important;
    border: 1px solid #ed8c2b !important
}
.ui-widget-header {
    background: #ed8c2b !important
}
.calculatorcontainer {
    background: #eee;
    padding: 10px;
    border-radius: 4px
}
.emicalculatorcontainer {
    background: rgb(238, 238, 238)
}
#emicalculatordashboard,
#emipaymentdetails {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif
}
#emicalculatordashboard {
    margin-bottom: 20px
}
#emicalculatorform {
    margin-bottom: 0 !important
}
#emicalculatorinnerformwrapper {
    background: #eee;
    border-top: 1px solid #ccc
}
#emicalculatorinnerform {
    padding: 10px 0
}
#emicalculatorform div.sep {
    padding-top: 25px
}
ul.loanproduct-nav {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    float: none;
    list-style: none outside none !important;
    margin: 0 !important;
    padding: 0 0 0 10px
}
ul.loanproduct-nav li {
    float: left;
    list-style: none outside none !important;
    margin: 0 -1px -1px 0 !important;
    position: relative;
    z-index: 10
}
ul.loanproduct-nav li a {
    border: 1px solid #ccc;
    display: block;
    overflow: hidden;
    padding: 15px 10px;
    background: #dedede;
    margin: 0 !important;
    text-decoration: none;
    color: #333 !important;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.3;
    text-align: center;
    outline: 0 none
}
ul.loanproduct-nav li a:hover {
    background: #eee !important;
    margin: 0 !important
}
ul.loanproduct-nav li.active a {
    background: #eee;
    border-bottom-color: transparent
}
#home-loan a {
    border-top-left-radius: 4px
}
#car-loan a {
    border-top-right-radius: 4px
}
#loanamountslider,
#loaninterestslider,
#loantermslider {
    margin-bottom: 0 !important
}
.add-check .active:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Font Awesome\ 5 Free;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    content: "\f00c"
}
.steps {
    border-color: transparent;
    border-style: none solid;
    border-width: 0 1px;
    margin: 0 0 35px !important;
    position: relative;
    width: 100%
}
.tick {
    color: #ccc;
    font-size: 11px;
    height: 11px;
    left: 0;
    line-height: 11px;
    margin-left: -24px;
    position: absolute;
    width: 48px
}
.marker,
.tick {
    text-align: center
}
.marker {
    border: 1px solid transparent;
    color: #333;
    font-size: 9px;
    height: 18px;
    line-height: 18px
}
.emischemes label {
    max-width: 110px;
    white-space: normal
}
#emiamount p {
    font-size: 24px !important
}
#emiamount,
#emitotalinterest {
    border-bottom: 1px dashed #ccc;
    border-top: 0 none !important
}
#emiamount,
#emitotalamount,
#emitotalinterest {
    padding: 0 15px;
    text-align: center
}
#emipaymentsummary {
    border: 1px solid #ccc;
    border-radius: 4px
}
#emipaymentsummary h4 {
    font-size: 16px;
    color: #666;
    margin-top: 1rem
}
#emipaymentsummary p {
    font-size: 18px;
    font-weight: 700
}
#emipaymentsummary span {
    padding: 0 5px
}
#startmonthyear {
    background-color: #fff !important;
    cursor: default
}
#emipiechart {
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 1px
}
.fill-width {
    float: none !important;
    display: block !important;
    width: auto !important;
    overflow: hidden !important
}
.fill-width input {
    border-radius: 4px !important
}
.show_element {
    display: block;
    visibility: visible
}
.hide_element {
    display: none;
    visibility: hidden
}
#emipaymentscheduleheader {
    padding: 10px 0;
    text-align: center
}
#emibarchart,
#emipaymentscheduleheader {
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px
}
#emibarchart {
    clear: both;
    padding: 30px 0 0
}
#emipaymenttable {
    margin: 0;
    text-align: center
}
#emipaymenttable table {
    width: 100%;
    background: #eee;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px
}
#emipaymenttable table th {
    background: #dedede;
    text-align: center;
    padding: 5px;
    font-size: 11px
}
#emipaymenttable table td {
    text-align: center;
    padding: 5px;
    font-size: 11px;
    white-space: nowrap
}
#emipaymenttable table tr td,
#emipaymenttable table tr th {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}
#emipaymenttable table tr td:first-child,
#emipaymenttable table tr th:first-child {
    border-left: 1px solid #ccc
}
#emipaymenttable table tr th {
    border-top: 1px solid #ccc
}
#emipaymenttable table tr:first-child th:first-child {
    border-top-left-radius: 4px
}
#emipaymenttable table tr:first-child th:nth-last-child(2) {
    border-top-right-radius: 4px
}
#emipaymenttable table tr:nth-last-child(2) td:first-child {
    border-bottom-left-radius: 4px
}
#emipaymenttable table tr:nth-last-child(2) td:nth-last-child(2) {
    border-bottom-right-radius: 4px
}
#principalheader {
    background: none repeat scroll 0 0 #88a825 !important;
    color: #fff
}
#interestheader {
    background: none repeat scroll 0 0 #ed8c2b !important;
    color: #fff
}
#balanceheader {
    background: none repeat scroll 0 0 #b8204c !important;
    color: #fff
}
.yearlypaymentdetails .toggle:before {
    content: "\f0fe"
}
.yearlypaymentdetails .toggle-open:before,
.yearlypaymentdetails .toggle:before {
    position: relative;
    top: 0;
    left: -3px;
    display: inline-block;
    font-family: Font Awesome\ 5 Free;
    font-style: normal;
    font-weight: 400;
    line-height: 1
}
.yearlypaymentdetails .toggle-open:before {
    content: "\f146"
}
.toggle {
    cursor: pointer
}
.toggle-hidden {
    display: none;
    visibility: hidden
}
.toggle-visible {
    display: block;
    visibility: visible;
    margin-bottom: 0 !important
}
td.paymentyear {
    text-align: center !important;
    font-weight: 700 !important
}
td.currency {
    border-left: 0 none !important;
    text-align: right !important
}
td.monthyearwrapper {
    margin: 0;
    padding: 0 !important
}
td.paidtodatemonthyear,
td.paidtodateyear {
    border-left: 0 none !important;
    text-align: right !important
}
.monthlypaymentdetails td {
    border: 0 none !important
}
.monthlypaymentcontainer table td {
    background: #dedede;
    font-size: 11px;
    white-space: nowrap
}
.monthlypaymentcontainer table tr td,
.monthlypaymentcontainer table tr th {
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important
}
.monthlypaymentcontainer table tr td:first-child {
    border-left: 1px solid #ccc !important
}
.monthlypaymentcontainer table tr td,
.monthlypaymentcontainer table tr th {
    border-radius: 0 !important
}
.furtherreading {
    border-bottom: 3px double #e8e8e8
}
.display-posts-listing {
    padding: 0;
    margin: 0
}
.listing-item {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    list-style: none;
    padding: 10px 0 !important;
    border-bottom: 1px solid #ccc !important;
    margin: 0 !important
}
.listing-item:after {
    background: transparent !important;
    border-radius: 0 !important;
    color: #fff !important;
    content: "" !important
}
.listing-item a {
    font-size: 18px !important
}
span.date {
    float: right;
    text-transform: uppercase;
    display: inline-block;
    text-align: right;
    font-size: 14px !important;
    color: gray;
    margin: 0 0 0 15px
}
.sidebar .widget_nav_menu,
.sidebar .widget_recent_entries {
    background: #eee !important;
    border: 1px solid #ccc !important
}
.sidebar .widget_nav_menu h3,
.sidebar .widget_recent_entries h3,
.sidebar .widget_text h3 {
    border-bottom: 3px double #ccc !important
}
.sidebar .widget ul li {
    border-bottom: 1px dashed #ccc !important
}
.sidebar .widget ul li:last-child {
    border-bottom: 0 none !important
}
.homepagebanner {
    margin: 0 0 15px !important
}
.banner-emicalculator {
    margin-bottom: 20px
}
.ecalprint {
    margin-right: 10px
}
#ecalprintandshare a i {
    width: 32px;
    height: 32px;
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #0072aa;
    margin-right: 5px;
    padding: 5px
}
#ecalprintandshare a:hover i {
    color: #005077
}
#loader {
    display: none;
    text-align: center;
    margin: 5px auto;
    font-size: 20px;
    overflow: hidden;
    vertical-align: middle
}
#ecalprintandshare {
    margin: 20px auto 0;
    text-align: center
}
#ecalprintandsharetext {
    font-size: 18px;
    font-weight: 700
}
#ecalsharelink {
    margin: 10px auto 0;
    text-align: center;
    width: 300px
}

@media (min-width:480px) {
    ul.loanproduct-nav li a {
        border: 1px solid #ccc;
        display: block;
        overflow: hidden;
        padding: 15px;
        background: #dedede;
        margin: 0 !important;
        text-decoration: none;
        color: #333 !important;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.3;
        text-align: center;
        outline: 0 none
    }
    .emicalculatorcontainer {
        border: 2px dashed #ccc;
        padding: 20px
    }
    .emischemes label {
        max-width: none;
        white-space: nowrap
    }
    #emipaymenttable table th {
        font-size: 16px
    }
    #emipaymenttable table td,
    .monthlypaymentcontainer table td {
        font-size: 14px
    }
}
@media (min-width:768px) {
    #emicalculatorinnerform {
        border-bottom: 1px solid #ccc;
        padding: 10px 20px
    }
    #emipaymentsummary,
    #emipiechart {
        border: 0 none
    }
    #emipiechart {
        border-left: 1px solid #ccc;
        border-radius: 0
    }
    #emicalculatorinnerformwrapper {
        border: 1px solid #ccc;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    ul.loanproduct-nav {
        padding-left: 0
    }
}
@media (min-width:992px) {
    .emicalculatorcontainer {
        border: 0px dashed #ccc
    }
    .emicalculatorcontainer .control-label {
        display: block;
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px
    }
    #emicalculatorinnerform {
        padding: 80px 80px 10px
    }
    #emipaymenttable table tr:first-child th:last-child {
        border-top-right-radius: 4px
    }
    #emipaymenttable table tr:nth-last-child(2) td:last-child {
        border-bottom-right-radius: 4px
    }
    #emipaymenttable table tr:first-child th:nth-last-child(2) {
        border-top-right-radius: 0
    }
    #emipaymenttable table tr:nth-last-child(2) td:nth-last-child(2) {
        border-bottom-right-radius: 0
    }
}
@media print {
    body {
        visibility: hidden
    }
    .calculatorcontainer {
        visibility: visible
    }
}

