body {
    background: #fcfcfc
}
.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.section-container {
    background: rgb(127, 247, 221);    /* section background color*/
    border-radius: 10px;
    margin: 100px ;
    padding: 10px 0 0 0;
}

.section-container hr {
    border-top: 1px solid #dfdee6;
}
.emi-amt-view {
    background: #34495e;
    color: #fff;
    text-align: center;
    padding: 24px;
    font-size: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.slider-heading {
    color: #34495e;
    font-size: 20px;
    font-weight: normal;
}
.calculate-btn {
    background: #a265e7;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 46px;
    color: #fff;
    font-size: 20px;
    margin: 25px auto;
    width: 200px;
    display: block;
}
.processing-fee input {
    padding: 10px;
    width: 130px;
    margin-left: 20px;
    display: inline-block;
    border-radius: 4px;
    height: 45px;
    box-shadow: none;
    border-style: solid;
    border-color: #c8c7cb;
    outline: none;
    font-size: 20px;
    color: #3c4856;
}
.rd-compounding input {
    display: inline-block;
    border-radius: 4px;
    box-shadow: none;
    border-style: solid;
    border-color: #c8c7cb;
    outline: none;
    font-size: 20px;
    color: #3c4856;
    margin: 0 5px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.rd-compounding .slider-heading {
    margin-bottom: 10px
}
.radio-block label {
    margin-left: 10px;
    margin-bottom: 15px;
    margin-right: 25px;
    font-weight: 500;
    line-height: 1.5;
}
.radio-block label:first-child {
    margin-left: 0;
}
.chart-heading {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}
.pie-chart-details {
    text-align: left;
    font-size: 18px;
    padding-top: 10px;
    color: #fff;
}
.detail-table-piechart {
    padding: 10px;
}
.rows-left {
    padding: 10px 0;
}
.colmn1 {
    width: 64%;
    float: left;
}
.colmn2 {
    width: 35%;
    float: left;
}
.rows-left .arange-squre,
.rows-left .green-squre,
.rows-left .red-squre {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.detail-table-piechart .colmn2 span {
    text-align: right;
    float: right;
    padding-left: 6px;
}
.red-squre {
    background: #ff3334;
}
.arange-squre {
    background: #f1a334;
}
.green-squre {
    background: #02c8a5;
}
.maintitle {
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.subtitle {
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.expand-btn {
    width: 36px;
    margin: 0 auto;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
/*table css*/
.amortization-table {
    display: none
}
.amortization-table table,
.amortization-table table th {
    text-align: center;
    margin-bottom: 75px;
}
.amortization-table .table tr {
    background: #fff;
}
.amortization-table .table thead tr {
    color: #fff;
}
.amortization-table .table thead th {
    border-bottom: 0;
}
.amortization-table table th.year {
    background: #316a9e;
}
.amortization-table table th.principal {
    background: #f1c40f;
}
.amortization-table table th.interest {
    background: #4898d9;
}
.amortization-table table th.total-payment {
    background: #316a9e;
}
.amortization-table table th.balance {
    background: #c3598a;
}
.amortization-table .table td {
    border: 1px solid #e3e3e1 !important;
}
.amortization-table table .collapse.in {
    display: table-row;
    background: #efeeed
}
.amortization-table .table tbody tr {
    height: 60px !important
}
.amortization-table .table > tbody > tr > td {
    vertical-align: middle;
    color: #2e485f;
    font-size: 14px;
}
.amortization-table img {
    width: 8px;
    position: relative;
    top: -1px;
}
.amortization-table .glyphicon-plus:before,
.amortization-table .glyphicon-minus:before {
    background: #324c65;
    border-radius: 7px;
    color: #fff;
    font-size: 11px;
    font-weight: lighter;
    padding: 2px 4px;
    float: left;
    position: relative;
    left: -8px;
    cursor: pointer;
}
.amortization-table .glyphicon-plus:before {
    content: "+";
}
.amortization-table .glyphicon-minus:before {
    content: "-" !important;
    height: 15px;
    width: 14px;
    line-height: 0.9;
}
.slider-value {
    display: inline-block;
    width: 130px;
    border-radius: 4px;
    height: 45px;
    box-shadow: none;
    border-style: solid;
    border-color: #c8c7cb;
    margin-left: 35px;
    outline: none;
    font-size: 20px;
    color: #3c4856;
    padding: 10px;
}
.slider-loan-tenure {
    display: inline-block;
    position: relative;
}
.slider-loan-tenure .loan-month-label {
    position: absolute;
    top: 8px;
    right: 24px;
    font-size: 20px;
    color: #3c4856;
    display: inline-block;
}
.slider-loan-tenure .loan-month-label.year {
    right: 50px;
}
.slider-min,
.slider-max {
    font-size: 16px;
    color: #354b60;
}
.slider-value-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 70%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.amountSliderContainer .value-notation {
    position: absolute;
    left: -12px;
    top: 9px;
}
#sliderLoanAmountValue,
#processingfee {
    background-image: url(../images/rupee-icon-black.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 25px;
    background-size: 11px;
}
.slider-rs .slider .tooltip.top {
    min-width: 62px;
    margin-left: 50px;
    margin-top: 0
}
.slider-rs .tooltip-inner {
    background-image: url(../images/rupee-icon-black.png);
    background-repeat: no-repeat;
    background-position: left 6px;
    padding-left: 10px;
    background-size: 8px;
}
.slider-percentage .slider .tooltip.top {
    min-width: 53px;
    margin-left: 28px;
}
.slider-percentage .tooltip-inner {
    background-image: url(../images/percentage.png);
    background-repeat: no-repeat;
    background-position: right 6px;
    padding-right: 15px;
    background-size: 12px;
    text-align: right;
}
.rs-symbol-align {
    position: relative;
    top: -2px;
}
.detail-table-piechart img {
    width: 11px;
}
.product-caption {
    text-align: center;
    color: #fff;
}
.errormsg {
    color: #ee4124;
    display: block;
    top: 18px;
    text-align: right;
    position: relative;
}
.hidemsg {
    display: none;
}
.disablebutton {
    pointer-events: none;
    opacity: 0.8;
}
.dontShowDesktop {
    display: none;
}
@media only screen and (max-width: 1200px) {
    .slider.slider-horizontal,
    .slider-value-container {
        width: 66%
    }
}
@media (max-width: 980px) {
    .dontShowDesktop,
    .dontShowDesktop:hover,
    .dontShowDesktop:focus {
        display: block;
        font-size: 16px;
        background-color: #ff5a5f;
        padding: 8px 35px;
        border-radius: 4px;
        position: inherit;
        color: #fff;
        width: 165px;
        margin: 0 auto;
        text-align: center;
        text-decoration: none
    }
}
@media only screen and (max-width: 768px) {
    .errormsg {
        top: 0;
        padding-right: 15px;
    }
    .emivalueblock {
        display: block;
    }
    .emivalueblock img {
        display: inline-block;
        vertical-align: baseline;
    }
    .slider.slider-horizontal,
    .slider-value-container,
    .section-container hr {
        display: none
    }
    .slider-heading {
        font-size: 14px;
        text-align: left;
        margin-left: 12px;
    }
    .processing-fee .slider-heading {
        display: block
    }
    .slider-value,
    .processing-fee input {
        margin-left: auto;
        width: 96%;
        height: 40px;
        margin-bottom: 10px;
    }
    .mobile-center {
        text-align: center
    }
    .emi-amt-view {
        font-size: 14px
    }
    .emi-amt-view strong {
        font-size: 32px;
        display: inline-block;
    }
    .maintitle {
        font-size: 24px
    }
    .subtitle {
        font-size: 14px;
        font-weight: bold
    }
    .amortization-table .table thead tr,
    .amortization-table .table > tbody > tr > td {
        font-size: 12px
    }
    .clickable.amort-table td:first-child {
        padding: 5px
    }
    .glyphicon {
        top: 3px;
    }
    .amortization-table .glyphicon-plus:before,
    .amortization-table .glyphicon-minus:before {
        left: -3px
    }
    .slider-loan-tenure {
        display: block;
    }
    .radio-block label:first-child {
        margin-right: 40px;
        margin-left: 10px;
    }
    .fd-compounding .radio-block label {
        display: block;
    }
    .slider-loan-tenure .loan-month-label {
        left: 52px;
        right: initial;
        top: 6px;
    }
    .slider-loan-tenure .loan-month-label.year {
        left: 55px;
        right: initial;
        top: 6px;
    }
}
